<!DOCTYPE html>
<!--suppress CheckEmptyScriptTag, HtmlUnknownTag -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Telegram App Page</title>
    <link rel="stylesheet" href="styles.css">
    <script src="script.js"></script>
</head>
<body>
<div class="app-content">

    <div class="footer-buttons">
        <div class="menu-button tap-zone">
            <icon />
        </div>

        <div class="menu-button quests">
            <icon />
        </div>

        <div class="menu-button contest">
            <icon />
        </div>

        <div class="menu-button profile">
            <icon />
        </div>
    </div>
</div>
</body>
</html>
