<!DOCTYPE html>
<!--suppress HtmlUnknownTag, HtmlUnknownAttribute -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Toshkin Telegram App</title>
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <script src="script.js"></script>
    <link rel="stylesheet" href="styles.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Concert+One&display=swap" rel="stylesheet">

</head>
<body>
<input type="hidden" id="devMode" value="{{ENABLE_DEV_MODE}}"/>
<div class="app-content mobile">
    <div class="energy-bar-container">
        <div class="energy-bar"></div>
    </div>
    <div class="view tap-score">
         <h2>Paws: <span data-score>0</span></h2>
    </div>

    <div class="view tap-zone">
        <div data-tap-zone-title class="tap-zone-header">
            <svg xmlns="http://www.w3.org/2000/svg">
                <text x="50%" y="24px">Pet  Toshkin!</text>
            </svg>
        </div>
    </div>

    <div class="view rating-table" style="display: none">
        <div class="flex-column rating-table-header">
            <div class="stars-display"></div>
            <h1>Best Toshkiners!</h1>
        </div>

        <div class="rating-table-body table-body"></div>
    </div>

    <div class="view profile-name" style="display: none">
        <h2 id="username">Nickname</h2>
    </div>

    <div class="view profile-box" style="display: none">
        <div class="flex-column profile-header">
            <div class="stars-display"></div>
            <h1>Your Paws Points</h1>
            <span data-score>0</span>
        </div>
            <p>
                Share your SOL Wallet Address to participate in $TOSHKIN Airdrops
            </p>
        <div><span id="wallet-view"></span></div>
        <input type="text" data-sol-address-input placeholder="Please enter wallet address" maxlength="44"/>
        <div class="update-address-button">
            <h2>Update Address</h2>
        </div>
    </div>

    <div class="view referral-table" style="display: none">
        <div class="flex-column referral-table-header" >
            <div class="paws-display"></div>
            <h1>Your BONUS users!</h1>
        </div>
        <p>
            Get <b>10000</b> BONUS points and <b>25%</b> of paws from each user that you bring!
        </p>

        <div class="referral-table-body table-body"></div>
    </div>


    <div class="launch-button">
        <h2>Launch to the Moon</h2>
    </div>

    <div class="referral-button" style="display: none">
        <h2>Copy referral link</h2>
    </div>

    <div class="footer-buttons">
        <div class="menu-button tap-zone-btn">
            <icon></icon>
            <span>TapZone</span>
        </div>

        <div class="menu-button quests">
            <icon></icon>
            <span>Quests</span>
        </div>

        <div class="menu-button contest">
            <icon></icon>
            <span>Contest</span>
        </div>

        <div class="menu-button profile">
            <icon></icon>
            <span>Profile</span>
        </div>
    </div>
</div>

<div class="app-content not-telegram" style="display: none">
    <div class="mobile-container">
        <div class="mobile-title">
            <h1>
                Open Telegram.
                <br/>
                Telegram gaming rocks!
            </h1>
        </div>
        <div class="mobile-qr">
            <img src="img/qr.png" />
        </div>
    </div>
</div>
</body>
</html>
