:root {
    --purp-grad-rev: #9901DD;
    --purp-grad: linear-gradient(180deg, #140079 -77.21%, #9C00DF 100%);
    --red-grad-rev: #D50039;
    --red-grad: linear-gradient(180deg, #790014 -77.21%, #DF0024 100%);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-image: url('img/background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;

    color: #FFF;
    text-align: center;
    -webkit-text-stroke-width: thin;
    -webkit-text-stroke-color: #2C0256;
    font-family: "Poetsen One", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
}

div.app-content {
    padding: 0 24px;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

div.launch-button {
    margin-top: auto;
    display: flex;
    width: 100%;
    height: 68px;
    padding: 16px 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    border-radius: 15px;
    border: 4px solid var(--red-grad-rev);
    background: var(--red-grad);
    box-shadow: 0 7px 0 0 #3C0009;

    font-size: 24px;
}

.launch-button span {
    white-space: nowrap;
}

.footer-buttons {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    gap: 15px;
    padding: 24px 0 46px 0;
    align-self: stretch;
    width: 100%;
}

.menu-button {
    display: flex;
    padding: 10px 10px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
    max-height: 100px;

    border-radius: 15px;
    border: 4px solid var(--purp-grad-rev);
    background: var(--purp-grad);
    box-shadow: 0 7px 0 0 #2C0256;
}

.menu-button span {
    font-size: 16px;
}

.menu-button icon {
    width: 48px;
    height: 48px;
    flex-shrink: 0;
}

.tap-zone icon {
    background: url('img/tapzone.png') transparent 0 / cover no-repeat;
}

.quests icon {
    background: url('img/quests.png') transparent 0 / cover no-repeat;
}

.contest icon {
    background: url('img/contest.png') transparent 0 / cover no-repeat;
}

.profile icon {
    background: url('img/profile.png') transparent 0 / cover no-repeat;
}

div.rating-table {
    width: 100%;
    padding: 32px;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    border-radius: 24px;
    border: 4px solid #2C0048;
    background: #550196;

    margin-top: auto;
}

div.rating-table-header {
    display: flex;
    width: auto;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

div.stars-display {
    width: 79px;
    height: 28px;
    background: url('img/stars.png') transparent -1.068px -24.769px / 100% 284.615% no-repeat;
}

h1 {
    font-size: 32px;
}

div.rating-table-body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
}

div.rating-table-row {
    display: flex;
    width: 100%;
    padding: 8px 16px;
    gap: 16px;
    align-items: flex-start;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255, 255, 255, 0.30);
}

.rating-table-cell:nth-child(2) {
    margin-right: auto;
    margin-left: 10px;
}
.rating-table-cell:nth-child(1) {
    color: rgba(255, 255, 255, 0.50);
}

.spinner {
    width: 150px; /* Adjust as needed */
    height: 150px; /* Adjust as needed */
    background-image: url('img/spinner.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 80px auto;
}